@using Ticked.Models

@{
    ViewBag.Title = "Climbers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<label>First Name</label>
<div>
<input id="First_Name" type="text" class="input" role="textbox" />
</div>
<label>Last Name</label>
<div>
<input id="Last_Name" type="text" class="input" role="textbox" />
</div>
<label>Gym</label>
<div>
<input id="Gym" type="text" class="input" role="textbox" />
</div>
<div>
<button id="SubmitBtn" type="submit" role="button" value="Submit">
    <div class="submit-button">Submit</div>
    <div class="sub-text">Inputs</div>
</button>
</div>
<div class="clear">
</div>