@using Ticked.Models

@{
    ViewBag.Title = "Climbers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    if (IsPost) {
        string firstName = Request.Form["First_Name"];
        string lastname = Request.Form["Last_Name"];
        string gym = Request.Form["Gym"];
        <text>
        You entered: <br />
        First name: @firstName <br />
        Last name: @lastname <br />
        Gym: @gym <br />
        </text>
    }
}
<form method="post">
<label for="First_Name">First Name</label>
<div>
<input name="First_Name" type="text" class="input" role="textbox" />
</div>
<label for="Last_Name">Last Name</label>
<div>
<input name="Last_Name" type="text" class="input" role="textbox" />
</div>
<label for="Gym">Gym</label>
<div>
<input name="Gym" type="text" class="input" role="textbox" />
</div>
<div>
<button id="SubmitBtn" type="submit" role="button" value="Submit">
    <div class="submit-button">Submit</div>
    <div class="sub-text">Inputs</div>
</button>
</div>
<div class="clear"></div>
</form>